mixin slider(modifier)
  .slider.one-time&attributes(attributes)
    +review
    +review
    +review
  //- .slick-dots 
    //- .slick-active 
    //-   button.slick-prev
    //-   button
    //-   button.slick-next
