.item {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-top: none;
  width: 425px;
  height: 470px;
  margin: 0 15px 30px;
  
  &__picture {
    background-image: url(../img/item__picture.png);
    background-repeat: no-repeat;
    width: 425px;
    height: 200px;

    @media (max-width: 425.98px) {
      width: 290px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
  }

  &__content:hover {
    // box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  &__content-top {
    h3 {
      font-size: 24px;
      color: #000;
      line-height: 27px;
      width: 306px;
      margin: 20px;

      @media (max-width: 425.98px) {
        text-align: center;
        width: 280px;
        margin: 20px 5px;
      }

    }

    p {
      width: 385px;
      margin-left: 20px;

      @media (max-width: 425.98px) {
        text-align: center;
        width: 280px;
        margin-left: 0;
      }
    }

  }

  &__date {
    color: #BDBDBD;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;


  }
}

.item:nth-child(1),
.item:nth-child(4) {
  margin-left: 120px;

  @media (max-width: 425.98px) {
    margin-left: 0;
  }
}

.item:nth-child(3),
.item:nth-child(6) {
  margin-right: 100px;

  @media (max-width: 425.98px) {
    margin-right: 0;
  }
}

.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.d-flex {

  // flex-wrap: wrap;
  @media (max-width: 768.98px) {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}

@include media-breakpoint-down(md) {
  .item {
    width: 350px;
    margin: 0 0 30px;
    @media (max-width: 425.98px) {
      width: 290px;
      margin: 0 0 30px;
    }


    &:nth-child(1),
    &:nth-child(4) {
      margin-left: 0;
    }

    &__picture {}

    &__content {}

    &-top {}

    h3 {}

    p {
      text-align: center;
      width: 290px;
    }

    &__date {
      text-align: center;
    }
  }
}

@include media-breakpoint-only(lg) {
  .item {
    width: 310px;
    margin: 0 0 30px;

    &:nth-child(1),
    &:nth-child(4) {
      margin-left: 0;
    }

    &:nth-child(3),
    &:nth-child(6) {
      margin-right: 0;
    }

    &__picture {}

    &__content {}

    &-top {}

    h3 {}

    p {
      text-align: center;
      width: 260px;
    }

    &__date {
      text-align: center;
    }
  }

}