.item {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.18);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  border-top: none;
  width: 425px;
  height: 470px;
  margin: 0 15px 30px;
  margin-bottom: 30px;

  &__picture {
    background-image: url(../img/item__picture.png);
    width: 425px;
    height: 200px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 270px;
  }

  &__content:hover {
    // box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  }

  &__content-top {
    h3 {
      font-size: 24px;
      color: #000;
      line-height: 27px;
      width: 306px;
      margin: 20px;
    }

    p {
      width: 385px;
      margin-left: 20px;
    }

  }

  &__date {
    color: #BDBDBD;
    text-align: right;
    margin-bottom: 20px;
    margin-right: 20px;
  }
}

.item:nth-child(1),
.item:nth-child(4) {
  margin-left: 120px;
}

.item:nth-child(3),
.item:nth-child(6) {
  margin-right: 100px;
}

.item:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}