.footer {
  display: flex;
  width: 1920px;
  height: 163px;
  border-top: 1px solid rgba(151, 151, 151, 0.3);
  margin-top: 150px;


  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 163px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1336px;
    height: 52px;
  }

  &__sitemap {
    display: flex;

  }

  &__link {
    font-size: 18px;
    color: #000;
    margin-right: 30px;
  }

  &__copyright {
    display: flex;
    justify-content: flex-start;
    color: #828282;
    font-size: 18px;
    width: 1336px;
  }
}