.header {
  display: flex;
  align-items: flex-start;
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  width: 1920px;
  height: 70px;

  &__content {
    display: flex;
    justify-content: space-between;
    margin: 10px 116px ;

    // a.logo {
    //   background-image: url(../img/logo.svg);
    //   background-repeat: no-repeat;
    //   background-size: 
    //   width: 163px;
    //   height: 50px;
    // }

    // a.button {
    //   font-family: 'Fira Sans';
    //   font-size: 18px;
    //   color: #ffffff;
    //   vertical-align: bottom;
    //   text-align: center;
    //   line-height: 50px;
    //   border-radius: 5px;
    //   background-color: #E73741;
    //   width: 163px;
    //   height: 50px;
    // }
  }
}